@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  padding:0;
  background:#020617;
  color:white;
  font-family:Inter,sans-serif;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#2563eb;
  border-radius:20px;
}

.gradient{
  background:linear-gradient(90deg,#2563eb,#06b6d4);
  -webkit-background-clip:text;
  color:transparent;
}

.glass{
  background:rgba(255,255,255,.05);
  border:1px solid rgba(255,255,255,.08);
}